// Entry point for your Sass build

// Configuration
@import "config/reset";
@import "config/variables";

// Components
// @import "components/turbo_progress_bar";
// @import "components/button_1";
// @import "components/button_2";


@import "views/quiz_games/index";
@import "views/quiz_games/edit";
@import "views/quiz_games/show";




body {
	display: flex;
	flex-direction: column;
	min-height: 100%;

	background-color: #1f2b34;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	position: relative;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.notice {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
	background-color: var(--color-dark);
	color: var(--color-link-button-background-hover);
}

.alert {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
	background-color: var(--color-dark);
	color: var(--color-link-button-background-danger);
}

@media (max-width: 991.98px) {
	.container {
		max-width: 800px;
	}
}

h1,
h2,
h3,
h4 {
	color: var(--color-title);
}

label {
	cursor: pointer;
}

a,
button {
	display: inline-block;
	padding: .4em;
	margin: .5em 0;
	background: var(--color-link-button-background);
	color: var(--color-link-button-text);
	text-decoration: none;
	border-radius: .3em;
	transition: .2s ease-out;
	border: none;
	outline: none;
}

a:hover,
button:hover {
	background: var(--color-link-button-background-hover);
	cursor: pointer;
}

// =========================

.admin_notes {
	display: flex;
	justify-content: space-between;
}

.admin_notes>div {
	width: 30%;
}

.admin_quiz_games {
	display: flex;
	justify-content: space-between;
}

.admin_quiz_games>div {
	width: 30%;
}

.note_item {
	display: flex;
	align-items: center;
	gap: 10px;
}

.new_note_item {
	display: flex;
	align-items: center;
	gap: 10px;
}

.edit_note_item {
	display: flex;
	align-items: center;
	gap: 10px;
}

// =========================