.quiz_games_show {
	background-color: var(--color-sub-background);
	padding: 20px;
	min-height: 100vh;
}

.quiz_games_show_header {
	display: flex;
	flex-wrap: wrap;
	gap: 100px;
	margin-bottom: 10px;
}

.quiz_games_show_controls {
	display: flex;
	align-items: start;
	gap: 20px;
}

.quiz_games_show_controls_delete {
	background-color: var(--color-link-button-background-danger);
	font-weight: 600;
	color: var(--color-light);
}

.quiz_games_show_invite {
	margin-bottom: 10px;
}

.quiz_games_show_invite_link {
	color: var(--color-light);
	display: block;
	width: 30%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.quiz_games_show_invite_link:active {
	width: 100%;
	white-space: wrap;
}

.quiz_games_show_invite_copy {
	padding: 2px 5px;
}

.quiz_games_show_users {
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 5px 15px;
	color: var(--color-light);
}

.quiz_games_show_user_color {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%
}

.quiz_games_show_body {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.quiz_game_main_form {
	display: flex;
	flex-direction: column;
}

.quiz_game_show_form_body {
	padding: 20px;
}

.quiz_game_show_form_body h2 {
	margin-bottom: 20px;
}

.quiz_game_show_form_item {
	padding: 5px 15px;
	display: flex;
	align-items: center;
	gap: 25px;
	flex-wrap: wrap;
	font-size: 20px;
}

.quiz_game_show_form_item:hover {
	background-color: var(--custom-color-2);
}

.quiz_game_show_form_item label {
	color: var(--color-light);
	font-size: 18px;
}

.quiz_game_show_form_answer {
	padding: 15px 0;
}

.quiz_game_show_form_answer span {
	color: var(--custom-color-3);
}

.quiz_game_show_form_submit input {
	display: inline-block;
	padding: .4em;
	margin: .5em 0;
	background: var(--color-link-button-background-submit);
	color: var(--color-link-button-text);
	text-decoration: none;
	border-radius: .3em;
	transition: .2s ease-out;
	border: none;
	outline: none;
	font-weight: 600;
	color: var(--color-light);
}

.quiz_game_show_form_submit input:hover {
	background: var(--color-link-button-background-hover);
	cursor: pointer;
}

.quiz_games_show_counter {
	color: var(--color-light);
	text-align: center;
	font-size: 30px;
}

.quiz_game_show_score {
	display: flex;
	flex-direction: column;
}

.quiz_game_show_score_item {
	padding: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
	font-size: 20px;
	color: var(--color-light);
}

.quiz_game_show_player_choice {
	display: block;
	width: 30px;
	height: 10px;
	border-radius: 10px;
	padding: 0 5px;
}